body{
				overflow-x:auto;
				overflow-y:scroll;
			}
			.tabcontent {
				display: none;
				padding: 6px 12px;
				border: 1px solid #ccc;
				border-top: none;
			}
			
			.textcolor{
				color:#8bd5e8;
			}
			
			.color_1
			{
				color:#D11F00;
			}
			
			.div_style1{
				position: absolute;
				top: 0px;
				right: 0;
				bottom: 0px;
				left: 0;
				background-color: transparent;
				border-radius: 0;
			}
			
			.div_style{
			    left: 825px;
				position: absolute;
				top: 62px;
				height: 38px;
				min-height: 16px;
				width: 141px;
			}
			.button{
				display: inline-block;
				background-color: #ffffff;
				border:5px;
				border-style: double;
				border-radius: 15px;
				color: #00d100;
				text-align: center;
				font-size: 12px;
				padding: 20px;
				width: 90px;
				height:45px;
				transition: all 0.5s;
				cursor: pointer;
				margin: 5px;
			}
			.button span {
				cursor: pointer;
				display: inline-block;
				position: absolute;
				top:22px;
				right:15px;
				transition: 0.2s;
			}

			.button span:after {
				content: '\00bb';
				position: absolute;
				opacity: 0;
				top: 0;
				right: -30px;
				transition: 0.5s;
			}

			.button:hover span {
				padding-right: 7px;
			}

			.button:hover span:after {
				opacity: 1;
				right: 0;
			}
			.content {
				padding: 16px;
			}
			.txtNew {
				word-wrap: break-word;
			}
			
			.txtNew a{
				color: inherit;
			}
			
			.card{
				width: 200px;
				height: 310px;
				box-shadow: 5px 5px 10px #888888;
				margin: auto;
   				text-align: center;
			}
			
				
			.footer-wrapper{
				background: #1a1e23;
				padding: 20px;
				color: #fff;
				position: fixed;
				left: 0px;
				bottom: 0px;
				width: 100%;
			}
			
			.fa{
				box-sizing: border-box;
				padding: 7px;
				font-size: 14px;
				width: 35px;
				text-align: center;
				text-decoration: none;
				margin: 4px 4px;
				
			}

			.fa:hover {
				opacity: 0.7;
			}			
			
			.fa-linkedin {
				background: #007bb5;
				color: white;
				content: "\f0e1";
			}
			.fa-facebook {
				background: #3B5998;
				color: white;
				content: "\f09a";
			}
			
			.fa-github {
				background: #000000;
				color: white;
				content: "\f09a";
			}
			
			.tt-overlay{
				position: absolute !important;
				left: 350px;
				top: 35px;
				right: 280px;
				height: 225px;
				color:#ffffff;
			}
			#tt-overlay_id{
				background-image: url("assets/workspace.jpg");
				opacity:0.3;
				background-size: cover;
				background-repeat: no-repeat;
				padding: 15px;
			}
	
		</style>